/* 配置 ul 基础样式 */
#bg-slideshow ul {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

/* 设置列表元素为none */
#bg-slideshow ul {
  list-style: none;
}

#bg-slideshow ul,
#bg-slideshow ul:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

#bg-slideshow ul:after {
  content: "";
}

/* 设置 li 里面 span 的基础样式 */
#bg-slideshow ul li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: -2;
  backface-visibility: hidden;
}

/* 设置动画关键字 */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(0deg);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1) rotate(0deg);
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-transform: scale(1.05);
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -moz-transform: scale(1.1) rotate(0deg);
  }
  25% {
    opacity: 0;
    -moz-transform: scale(1.1) rotate(0deg);
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -o-transform: scale(1.1) rotate(0deg);
  }
  25% {
    opacity: 0;
    -o-transform: scale(1.1) rotate(0deg);
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -ms-transform: scale(1.1) rotate(0deg);
  }
  25% {
    opacity: 0;
    -ms-transform: scale(1.1) rotate(0deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1) rotate(0deg);
  }
  25% {
    opacity: 0;
    transform: scale(1.1) rotate(0deg);
  }
  100% {
    opacity: 0;
  }
}
