#jellyrain_music {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 99;
}

/* 主窗口 */
.jellyrain.fixed {
  width: 500px;
  height: 70px;
  display: flex;
  overflow: hidden;
  transition: 1s;
}

.jellyrain.fixed.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

#jellyrain_music .jellyrain.fixed.closed {
  width: 0px;
}

/* 播放 暂停 封面图 */
.jellyrain.fixed .cover {
  width: 70px;
  height: 70px;
  min-width: 70px;
  position: relative;
  cursor: pointer;
  background-size: 70px 70px;
}

.jellyrain.fixed .cover.play {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jellyrain.fixed .cover.play i {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
}

.jellyrain.fixed .cover.play:hover i {
  color: white;
}

.jellyrain.fixed .cover.pause {
  display: flex;
  align-items: end;
  justify-content: end;
}

.jellyrain.fixed .cover.pause i {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
}

.jellyrain.fixed .cover.pause:hover i {
  color: white;
}

/* 信息 */
.jellyrain.fixed .info {
  width: 430px;
  min-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px 15px 0 15px;
  box-sizing: border-box;
}

/* 上部 */
.jellyrain.fixed .info .infoTop {
  display: flex;
  justify-content: space-between;
}

.jellyrain.fixed .info .infoTop .title {
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.jellyrain.fixed .info .infoTop .button {
  display: flex;
  align-items: center;
}

.jellyrain.fixed .info .infoTop .button i {
  margin: 0 10px;
  color: grey;
  cursor: pointer;
}

.icon-diyiyeshouyeshangyishou,
.icon-zuihouyiyemoyexiayishou {
  font-size: 20px;
}

.jellyrain.fixed .info .infoTop .button i:hover {
  color: black;
}

/* 下部 */
.jellyrain.fixed .info .infoBottom {
  padding-bottom: 12px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.jellyrain.fixed .info .infoBottom .bar {
  width: 80%;
  height: 2px;
  cursor: pointer;
  background-color: gainsboro;
}

.jellyrain.fixed .info .infoBottom .bar .played {
  height: 2px;
  position: relative;
  background-color: black;
}

.jellyrain.fixed .info .infoBottom .bar:hover .played .playedIcon {
  width: 5px;
  height: 5px;
  position: absolute;
  right: -1.5px;
  top: -1.5px;
  border-radius: 50%;
  background-color: black;
}

.jellyrain.fixed .info .infoBottom .volumeWrap {
  width: 20px;
  height: 46px;
  position: absolute;
  right: 28px;
  bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#jellyrain_music .jellyrain.fixed .info .infoBottom .volumeWrap .volumeBar {
  width: 4px;
  height: 0;
  border-radius: 5px;
  position: absolute;
  bottom: 17px;
  background-color: gainsboro;
  transition: 0.3s;
  z-index: 999;
}

.jellyrain.fixed .info .infoBottom .volumeWrap .volumeBar .volumePlayed {
  width: 4px;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  background-color: black;
}

.jellyrain.fixed .info .infoBottom .volumeWrap i {
  position: absolute;
  bottom: 0;
  color: grey;
}

#jellyrain_music
  .jellyrain.fixed
  .info
  .infoBottom
  .volumeWrap:hover
  .volumeBar {
  height: 30px;
}

.jellyrain.fixed .info .infoBottom .volumeWrap:hover i {
  color: black;
}

/* 收起 打开 */
#jellyrain_music .close {
  width: 20px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

#jellyrain_music .close.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(170, 170, 170, 0.8);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

/* 歌单列表 */
#jellyrain_music .songList {
  width: 500px;
  height: 0;
  max-height: 255px;
  position: absolute;
  bottom: 72px;
  margin: 0;
  padding: 0;
  border-radius: 0 5px 0 0;
  overflow: hidden;
  overflow-y: scroll;
  transition: 1s;
}

#jellyrain_music .songList::-webkit-scrollbar {
  width: 0 !important;
}
#jellyrain_music .songList {
  -ms-overflow-style: none;
}
#jellyrain_music .songList {
  overflow: -moz-scrollbars-none;
}

#jellyrain_music .songList.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

#jellyrain_music .songList.closed {
  width: 0px;
}

#jellyrain_music .songList li {
  height: 50px;
  padding: 0 30px 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(209, 213, 219, 0.3);
}

#jellyrain_music .songList li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

#jellyrain_music .songList li span:nth-child(1) {
  width: 3px;
  height: 30px;
  margin-right: 5px;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.733);
  visibility: hidden;
}

#jellyrain_music .songList li span:nth-child(2) {
  flex: 2;
  color: grey;
}

#jellyrain_music .songList li span:nth-child(3) {
  flex: 15;
}

#jellyrain_music .songList li span:nth-child(4) {
  flex: 4;
  color: gray;
}

#jellyrain_music .songList li.select {
  border-radius: 5px;
  background-color: rgba(194, 194, 194, 0.733);
}

#jellyrain_music .songList li.select span:nth-child(1) {
  visibility: visible;
}
