.live2d-home {
  position: fixed;
  z-index: 100;
  user-select: none;
}

/* 自定 live2d 位置 */
.live2d-home.top {
  top: 3em;
}

.live2d-home.center {
  top: 50%;
  transform: translateY(-50%);
}

.live2d-home.bottom {
  bottom: 0;
}

.live2d-home.left {
  left: 0;
}

.live2d-home.right {
  right: 0;
}

/* 拖动 */
.live2d-home.drag {
  cursor: move;
}

/* 禁止交互 */
.live2d-home.static {
  pointer-events: none;
}

.live2d-home .live2d-interaction {
  top: 2em;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
}

/* 交互栏靠左 */
.live2d-home .live2d-interaction.left {
  left: 0;
}

/* 交互栏靠右 */
.live2d-home .live2d-interaction.right {
  right: 0;
}

.live2d-home:hover .live2d-interaction {
  opacity: 1;
}

/* span 交互按钮基础样式 */
.live2d-interaction span {
  color: transparent;
  width: 1.5em;
  height: 1.5em;
  display: block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5em;
  background-size: 100%;
}

/* 对话框设置 */
.live2d-home .live2d-dialog {
  width: 80%;
  margin: 0 auto;
  top: -3em;
  opacity: 0;
  font-size: 0.8em;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.75em 1em;
  border-radius: 1.5em;
  visibility: hidden;
  position: absolute;
  word-break: break-all;
  border: 1px solid rgba(209, 213, 219, 0.3);
  transition: opacity 0.3s, visibility 0.3s;
}

.live2d-home .live2d-dialog.drag {
  opacity: 1;
  visibility: visible;
}

/* 父元素居中 */
#live2d {
  vertical-align: middle;
}

/* 最大宽度只有768px 设置 */
@media screen and (max-width: 768px) {
  #pio {
    width: 8em;
  }
  .pio-container {
    pointer-events: none;
  }
  .pio-container.hidden,
  .pio-action,
  .pio-dialog {
    display: none;
  }
}
