* {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
  width: 0 !important;
}

#jellyrain_scroll {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}

#jellyrain_scroll .scroll {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  border-radius: 0 0 5px 5px;
}

.rainbow-gradient {
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: identifier 5s linear infinite;
}

#jellyrain_scroll .scroll.rainbow-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#jellyrain_scroll .scroll.rainbow-gradient:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

@keyframes identifier {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
